<?xml version="1.0"?>
<launch>
	<node pkg="tf" type="static_transform_publisher" name="vel_tf_broadcaster"
		args="0 0 1.700 0.0 0 0 /matching_base_link /velodyne 100" />

	<node pkg="tf" type="static_transform_publisher" name="cam_tf_broadcaster"
		args="2.0 0.0 1.000 0.0 0 0 /matching_base_link /camera 100" />

	<rosparam file="$(find intern_workshop)/yaml/run_scene.yaml" />

	<node name="pub_data" pkg="intern_workshop" type="pub_data" output="screen" />

	<node name="perfect_minmax" pkg="velodyne_height_map" type="perfect_minmax_node" output="screen"  >		
		<param name="height_threshold" value="0.75"/>
		<param name="cartesian_cell_size" value="0.2"/>
		<param name="full_clouds" value="true"/>
		<!-- <param name="full_clouds" value="false"/> -->
		<param name="intensity_threshold" value="130.0"/>
		<param name="min_threshold" value="-1.0"/>
		<param name="radius_length" value="65.0"/>
		<param name="intensity2obstacles" value="false"/>
		<!-- <param name="intensity2obstacles" value="true"/> -->
		<!-- <param name="curb2obstacles" value="true"/> -->
		<param name="curb2obstacles" value="false"/>

		<!-- <remap from="velodyne_obstacles" to="velodyne_obstacles"/> -->
		<!-- <remap from="velodyne_clear" to="velodyne_clear"/> -->
	</node>

	<node pkg="pcl_tutorials" type="voxel" name="voxel"  />

	<node pkg="pcl_tutorials" type="jsk_bbox" name="jsk_bbox"  >
		<!-- <remap from ="cluster/centroid" to="dynamic_cluster/centroid" /> -->
	</node>
</launch>
